body {background-color:black; font: arial; font-color: white;text-align: center;border-radius: 25px;}
h1{color:grey; font: verdana;}

.maindiv{background-color:white; font-color: black; width: 300px, padding:20px;border-radius: 25px, margin-left: 50px;}

footer{text-align: left;}


#principal {margin-left: 60px}

#rate{margin-left: 50px} 

p{margin-left: 330px}
#years {margin-left: 90px}